.container {
  margin-left:5%; 
    display: flex;
    align-items: center;
    border: 10px solid rgb(54, 204, 142);
    padding: 10px;
    margin-right: 5%;
    image {
        width: 150px;
        height: auto; 
        margin-right: 50px;
      }
      
      .text {
        font-size: 100px;
      }
  }