.footer {
    background-color: #e6eaf3d0;
    color: rgb(221, 194, 194);
    text-align: center;
    padding: 20px;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: rgb(91, 136, 106);
    font-size: 24px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
    color: #000000; 
  }
